.addLayer :hover {
  cursor: pointer;
  /* height: 250px; */
}

.addLayer {
  height: 80px !important;
  width: 80px !important;
  margin-left: auto;
  margin-right: auto;
}

.deleteLayer {
  /* height: 40px !important;
  width: 40px !important; */
  /* margin-top: 1rem; */
  margin-left: auto;
  margin-right: auto;
  color: rgba(85, 84, 84, 0.658);
}

.deleteLayer :hover {
  cursor: pointer;
  /* height: 250px; */
}

.hidden-delete {
  opacity: 0;
}

.hidden-delete {
  opacity: 0;
}

.layerInfo:hover .hidden-delete {
  opacity: 1;
}
